*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
nav{
    position: fixed ;
    height: 60px;
    width: 100%;
    display: flex !important;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
}

html{
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
* , ::before{
    box-sizing: border-box;
}


body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}

/*css reset*/

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    position: fixed;
    z-index: 999;
}

#menu li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}


h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
#Home{
    background-color: mediumpurple;
}
#About{
    background-color: deeppink;
}
#EduWork{
    background-color: darkblue;
}
#projects{
    background-color: green;
}
#contact{
    background-color: firebrick;
}






