/* about */

#about{
    padding: 20px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image:  linear-gradient(to bottom, #ffffff, lightslategray, navy);
    height: 100vh;


}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 75%;
    clip-path:circle();
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
}
.about-right-col{
    flex-basis: 50%;
}
.title{
    font-family:"Comic Sans MS";
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: navy;
}
.highlight{
    color: aqua;
    text-align: center;
    margin-top: 5px;
    font-family: "rajdhani";
    font-size: 20px;
}
.description{
    font-size: 18px;
    font-family: "Century Gothic";
    text-align: center;
    color: white;
    margin-inside: 2px;
}
.glass-effect{

    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(50px);
    box-shadow: 0 20px 40px 0 rgba(2, 25, 61);
    border: 1px solid rgba(1,1,255,0.18);
    border-radius: 10px;
    margin-right: 85px;
    margin-top: 40px;
}


