/* home page components */
.intro{
    font-size: 30px;
    font-weight: 600;
    color: #000022;
    font-family: "Comic Sans MS";
    padding-top: 250px;
    padding-left: 150px;

}
.coloredLetter{
    color: #47c0a0;
}

.intro1{
    font-size: 15px;
    font-weight: 600;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik', sans-serif;
    color: #000000; /* Set the text color */
    text-shadow: 2px 2px 2px #ffffff, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #47c0a0; /* Set the outline using multiple text shadows */
    padding-left: 230px;
    margin-top: 20px;
}
home > section {
    position: relative;
}
home > article {
    display: flex;  width: 30px;
    height: 165px;
    position: relative;
    left: 500px;
    bottom: 155px;
    flex-wrap: wrap;
}
section {
    display: -webkit-flex;
    display: flex;
}
.socials{
    width: 50px;
    transition: width 2s, height 2s, transform 2s;
    padding-inline: 5px;

}
.logos{
    padding-left: 350px;
    margin-top: 30px;


}
.socials:hover{
    width: 50px;
    height: 50px;
    transform: rotate(360deg);
}


.name{
    font-size: 70px;
    font-weight: 600;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik', sans-serif;
    color: #ffffff; /* Set the text color */
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #47c0a0; /* Set the outline using multiple text shadows */
    padding-left: 150px;
    margin-top: 30px;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}
/* name animation */
@keyframes example {
    0%   { left:0px; top:0px;}

    50%  { left:150px; top:200px;}

    100% { left:0px; top:0px;}
}

.letter-animation {
    display: inline-block;
}

.letter-animation span {
    opacity: 0;
    animation-name: letter-fade-in;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: calc(0.1s * var(--index));
}

@keyframes letter-fade-in {
    to {
        opacity: 1;
    }
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

}

