
nav {
    z-index: 100;
    /* position: fixed; */
    height: 60px;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/*logo styling */
a.logo {
    font-size: 1.5rem;
    font-family: "Goldman", sans-serif;
    padding: 0.1rem 1rem;
    font-weight: bold;
    margin-bottom: 0;
    transition: all 300ms ease-in-out;
    margin-top: 10px;
}
/* add logo transitions */
a.logo:hover{
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
}

nav ul {
    margin-bottom: 0;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    margin: 0.5rem;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
nav ul li a {
    text-decoration: none !important;
    color: black;
    font-size: 15px;
    padding: 10px 11px;
    border-radius: 3px;
    position: relative;
    display: inline;
}

#check:checked ~ ul {
    left: 0;
    z-index: 5;
}



nav button:hover,
nav button:focus {
    transform: scale(1.05);
    transition: all 300ms ease-in-out;
}

#menuItem li a:hover,
#menuItem li a:focus {
    color: mediumblue;
}

#menuItem li a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    bottom: -3px;
    left: 0;
    background-color: mediumblue;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.15s ease-in-out 0s;
    transition: all 0.15s ease-in-out 0s;
}

#menuItem li a:hover:before,
#menuItem li a.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#menuItem li a.active {
    color:mediumblue !important;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

#home-page{
    height: 100vh;
    background-image: url("../images/_20230605_090746-removebg-preview (1) (1).png"), url("../images/logos/bg4.png");
    background-position: right bottom,right  ;
    margin-right: 25px;
    background-size: 400px,630px;
    background-repeat: no-repeat;
    filter: none, blur(50px);
    filter: contrast(110%);



}
.header-text{
    max-width: 700px;
    padding-top: 250px;
    padding-left: 100px;
}
.intro {
    font-size: 30px;
    font-family: "Comic Sans MS";
}
.name{
    font-family:'Delicious Handrawn', cursive;
    font-size: 90px;
    font-weight: bold;
    color: #ffffff; /* Set the text color */
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px mediumblue, 2px -2px 2px #000000, -2px 2px 2px mediumblue;
    margin-top: 10px;
}

.intro1{
    font-family:"Arial Unicode MS";
    color: #777;
    margin-top: 20px;
    padding-left: 50px;
}
.colored-letter{
    color: red;
    font-weight: bold;
}
.socials img{
    max-width: 40px;
}
.socials{
    padding-left: 200px;
    margin-top: 20px;

}
.icons:hover{
    width: 40px;
    transform: rotate(360deg);
}
.icons{
    transition: width 2s, height 2s, transform 2s;
    margin-left: 10px;
}

/* nav responsive for tablet  */
@media (min-width: 768px) and (max-width: 1023px){
    a.logo {
        font-size: 30px;
        padding-left: 30px;
    }
    nav ul li a {
        font-size: 20px;
        color: white;
    }
}
@media   (min-width: 768px) and (max-width: 1023px) {
    .checkbtn {
        display: block;
    }

    .bar {
        position: absolute;
        top: 5px;
        left: 5px;
        width: 50px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgba(65, 65, 65, 0.6);
        top: 60px;
        left: -100%;
        text-align: left;
        transition: all 0.5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 10px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }


    .reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
    }

    .reveal.active {
        transform: translateY(0);
        opacity: 1;
    }

}