*{
    margin: 0;
    padding: 0;
}

#nav-bar{
  /* background-image: linear-gradient(to right, #20c997, #ffffff);*/
}
/* positioning navbar to the top of the page and stuck to the top */
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img{
    height: 65px;
}
.navbar-nav li{
    padding: 5px 10px;
    text-align: right;
}
.navbar-nav li a{
    font-weight: 600;
    text-decoration: none !important;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline;
    position: relative;
    color: black;
}

.navbar-nav li a:hover, /* psuedo class */
.navbar-nav li a:focus {
    color: #20c997;
}

.navbar-nav li :before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    bottom: -3px;
    left: 0;
    background-color: #47c0a0;
    visibility: hidden;
    -webkit-transform: scaleX(0);/*Applies a scale transform to the pseudo-element, scaling it horizontally to 0, effectively hiding it.*/
    transform: scaleX(0);
    -webkit-transition: all 0.15s ease-in-out 0s;/* Specifies the transition properties for the pseudo-element, defining the duration (0.15 seconds), easing function (ease-in-out), and delay (0 seconds) for any transitions that occur on the pseudo-element.*/
    transition: all 0.15s ease-in-out 0s;
}

.navbar-nav li a:hover:before,
.navbar-nav li a.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-nav li a.active {
    color: #47c0a0 !important;
}

/* home main components*/
#main{

  /* background-image: linear-gradient(to right, #20c997, #ffffff);*/
}

.intro{
    font-size: 30px;
    font-weight: 600;
    margin-top: 180px;
    font-family: "Comic Sans MS";
    color: #000000;

}

.name{
    text-align: left;
    font-size: 65px;
    display: inline;
    font-family: "Averia Sans Libre", cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #47c0a0;
    margin-inside: 50px;
    color: #ffffff; /* Set the text color */
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000; /* Set the outline using multiple text shadows */
}
.img-fluid{
   height: 550px;

}
.intro1{
    font-weight: lighter;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik', sans-serif;
    color: black; /* Set the text color */
    text-shadow: 2px 2px 2px #20c997, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #ffffff; /* Set the outline using multiple text shadows */
}
.colored-letter {
    color: #20c997; /* Set the desired color for the letter */
}
.logos{
    height: 40px;
    margin-top: 10px;
    padding-inline: 10px;

}
.col{
    width: 65%;
}