
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* apply to all */
*{
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* scroll bar */
::-webkit-scrollbar {
    display: none;
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: #0ca205;
}
#blog{
    position: relative;
    left: 20px;
    top: 10px;
    text-decoration: none;
    font-family: "ubuntu", SansSerif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}
#blog2{
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: rgba(12, 162, 5, 0.74);
}
/* nav bar*/
.menu{
    position: absolute;
    right: 110px;
    top: 0;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: "Century Gothic" !important;
    font-size: 20px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: black;
}

.menu ul li a:hover {
    color: #7ecb79 ;
}

.menu ul li #active {
    color: rgba(126, 203, 121, 0.74);
}

.hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #8a0583;
    border-radius: 26%;
    transition: width .3s;
}
.hover-line:hover::after {
    width: 40%;
    transition: width .3s;
}

.active-hover-line::after {
    content: '';
    display: block;
    width: 40%;
    height: 3px;
    background-color: #8a0583;
    border-radius: 26%;
    transition: width .3s;
}


/* main section */
main {
    position: relative;
    margin-top: 73px;
    width: 100%;
}

/*  home section */

main > section:nth-child(1) {
    position: relative;
    background: #e4e3e2;
    width: 100%;
}

/**
* description section
*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h3:first-child {
    font-family: Poppins;
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 0;
    color: #8a0583;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) {
    font-family: Poppins;
    font-size: 55px;
    margin-top: 16px;
    margin-bottom: 0;
    color: #FFA500;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) > span {
    font-family: Poppins;
    font-size: 55px;
    color: #000000;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) {
    font-family: Poppins ;
    font-size: 50px;
    color: #000000;
    margin-top: 16px;
    margin-bottom: 16px;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) > span {
    font-family: Poppins;
    font-size: 50px;
    color: #FFA500;
}

.typed-cursor {
    display: none;
}


