
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* apply to all */
*{
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
/* scroll bar */
::-webkit-scrollbar {
    display: none;
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: #0ca205;
}
header {
    position: fixed;
    background: linear-gradient(to right, #F9FAFB, #7ecb79, #701C7D);
    width: 100%;
    top: 0;
    height: 75px;
    z-index: 999;
    opacity: 80%;
}

#blog{
    position: relative;
    left: 20px;
    top: 10px;
    text-decoration: none;
    font-family: "ubuntu", SansSerif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}
#blog2{
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: rgba(12, 162, 5, 0.74);
}
/* nav bar*/
.menu{
    position: absolute;
    right: 110px;
    top: 0;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 18px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: #000000;
}

.menu ul li a:hover {
    color: #8a0583 ;
}

.menu ul li #active {
    color: #8a0583;
}

.hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #8a0583;
    border-radius: 26%;
    transition: width .3s;
}
.hover-line:hover::after {
    width: 40%;
    transition: width .3s;
}

.active-hover-line::after {
    content: '';
    display: block;
    width: 40%;
    height: 3px;
    background-color: #8a0583;
    border-radius: 26%;
    transition: width .3s;
}


/* main section */
main {
    position: relative;
    margin-top: 75px;
    width: 100%;

}

/*  home section */

main > section:nth-child(1) {
    position: relative;
    background-image: url("../image/Home Other HD Wallpapers Green Purple White Simple Background.jpg");
    opacity: 95%;
    width: 100%;
    height: 90vh;
}


/**
* description section
*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 50px ;
}
/* Hello */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h3:first-child {
    font-family: Poppins;
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
    text-align: center;
}
/* web designer...*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) {
    font-family: "Calibri Light";
    font-size: 25px;
    margin-top: 16px;
    margin-bottom: 0;
    color: #50484f;
    text-shadow: 5px 10px 6px rgba(255, 255, 255, 0.9);
    text-align: center;
}

/* s */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) {
    font-family: "Roboto", sans-serif;
    font-size: 85px;
    color: #701C7D;
    margin-top: 16px;
    margin-bottom: 16px;
    text-shadow: 5px 10px 6px rgba(0, 0, 0, 0.1);
}
/* rest of the name */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) > span {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    color: #dddddd;
}

.typed-cursor {
    display: none;
}

/*
* description section button
*/

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) {
    position: relative;
    width: 198px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #8a0583;
    border-radius: 40px;
    box-shadow: 28px 28px 50px rgba(13, 39, 80, 0.36);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
    font-size: 20px;
    color: #32023d;
    cursor: pointer;
    opacity: 75%;
}
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4):hover{
    position: relative;
    width: 198px;
    height: 50px;
    background-color: #701C7D;
    border-radius: 40px;
    box-shadow: 28px 28px 50px rgba(13, 39, 80, 0.36);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    opacity: 75%;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.5s;

}


    /**
    * social links section
    */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > h3 {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #000000;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav {
    display: flex;
    gap: 15px;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav > div {
    width: 60px;
    height: 60px;
    background: rgba(235, 236, 235, 0.22);
    box-shadow: -5px -10px 10px #000000, 10px 10px 10px rgba(13, 39, 80, 0.16);
    border-radius: 15px;
}
/* button background */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div > a > i {
    position: relative;
    left: 23%;
    top: 23%;
    font-size: 2.40em;
    color: #FFFFFF;
    cursor: pointer;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div:nth-child(1) > a > i {
    font-size: 2.00em;
    top: 29%;
    left: 32%;
}
 /* button icon background */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav > div:hover ,a > i:hover{
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    color: #8a0583 !important;
}




main > section:first-child > section:first-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:first-child > section:first-child > div:first-child {
    width: 1100px;
    display: flex;
    gap: 66px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 35px;
    padding-left: 35px;
    transition: all 2s;
}

/* responsive */

@media (max-width: 996px) {
    /*header*/
    .menu {
        display: none;
        transition: all .5s;
    }

    #header-Nav {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: 52px;
        background: none;
        border: none;
        transition: all .5s;
    }

    #header-Nav i {
        font-size: 1.8em;
        color: #FFA500;
        transition: all .5s;
    }

    #blog {
        left: 73px;
        transition: all .5s;
    }

    /*home section*/
    main > section:first-child > section:first-child > div:first-child {
        width: 888px;
        gap: 16px;
        transition: all 2s;
    }

    main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
        width: 360px;
        height: 397px;
        transition: all 2s;
    }

    main > section:first-child > section:first-child > div:first-child {
        width: 756px;
        flex-direction: column-reverse;
        margin-top: 0;
        gap: 0;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
        margin-bottom: 44px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav {
        justify-content: center;
        transition: all 2s;
    }
}

/*  about section */

main > section:nth-child(2) {
    position: relative;
    top: 0;
    width: 100%;
    background: rgba(236, 240, 243, 0.4);
}

/**
* title in about section
*/
main > section:nth-child(2) > section:first-child {
    position: relative;
    text-align: center;
    padding-top: 68px;
}


main > section:nth-child(2) > section:first-child > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 18px;
}

main > section:nth-child(2) > section:first-child > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}


/**
* about description in about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) {
    width: 667px;
    display: flex;
    flex-direction: column;
}

/**
* description title in about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > h2:first-child {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 24px;
    color: #8a0583;
}
/*
* introducing description in about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > p:nth-child(2), p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #50484f !important;
    margin-top: 0;
}

/**
* my details position and introducing display type about section
*/
main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) {
    position: relative;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(5) {
    position: relative;
    top: 16px;
    margin-bottom: 65px;
}


main > section:nth-child(2) > section:nth-child(3) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child {
    width: 1100px;
    display: flex;
    gap: 92px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 67px;
    margin-right: 67px;
    transition: all 2s;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > div:first-child > p:nth-child(6) {
    display: none;
}

main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > div:first-child > p:nth-child(7) {
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");


#education {
    --color: rgba(30, 30, 30);
    --bgColor: rgb(238, 238, 238);
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bgColor);
}
.title{
    text-align: center;
    color: #000000;

}
.descr{
    text-align: center;
    color: #909597;
}
.imgScl{
    text-align: center;
}
/*.eduTitle {
    height: 65px;
    background-color: mediumpurple;
    opacity: 75%;
}*/
.eduTitle h1{
    text-align: center;
    font-size: 50px;

}

.eduMenu{
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
}

/* line */
.eduMenu::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
.eduMenu li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

/* card */
.eduMenu li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

/* date */
.eduMenu li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 1.25rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
.eduMenu li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

/* circle */
.eduMenu li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
.eduMenu li .title,
.eduMenu li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
}
.eduMenu li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
}
.eduMenu li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
}

/* shadows */
.eduMenu li .title::before,
.eduMenu li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}
.eduMenu li .title::before {
    bottom: calc(100% + 0.125rem);
}

.eduMenu li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}
/* responsive */

@media (min-width: 40rem) {
    .eduMenu {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }
    .eduMenu::before {
        grid-column: 2;
    }
    .eduMenu li:nth-child(odd) {
        grid-column: 1;
    }
    .eduMenu li:nth-child(even) {
        grid-column: 3;
    }

    /* start second card */
    .eduMenu li:nth-child(2) {
        grid-row: 2/4;
    }

    .eduMenu li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .eduMenu li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }
    .eduMenu li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

.credits {
    margin-top: 1rem;
    text-align: right;
}
.credits a {
    color: var(--color);
}

/* skill */
#experience {
    margin-top: 5rem;

}
#experience>h2 {
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
}
.container {
    margin: 0 auto;
    width: 75%;
}
.experience__container {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}
.experience__container>div {
    background: transparent;
    border: 1px solid #8a0583;
    border-radius: 2rem;
    padding: 2.4rem 5rem;
}

.experience__container>div h2 {
    color: #7ecb79;
    margin-bottom: 2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.experience__content {
    grid-row-gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.experience__details {
    display: flex;
    gap: 1rem;
    font-family: "Poppins", sans-serif;
}
.experience__details-icon {
    color: #8a0583;
    margin-top: 6px;
}
path {
    d: path("M 10.067 0.87 a 2.89 2.89 0 0 0 -4.134 0 l -0.622 0.638 l -0.89 -0.011 a 2.89 2.89 0 0 0 -2.924 2.924 l 0.01 0.89 l -0.636 0.622 a 2.89 2.89 0 0 0 0 4.134 l 0.637 0.622 l -0.011 0.89 a 2.89 2.89 0 0 0 2.924 2.924 l 0.89 -0.01 l 0.622 0.636 a 2.89 2.89 0 0 0 4.134 0 l 0.622 -0.637 l 0.89 0.011 a 2.89 2.89 0 0 0 2.924 -2.924 l -0.01 -0.89 l 0.636 -0.622 a 2.89 2.89 0 0 0 0 -4.134 l -0.637 -0.622 l 0.011 -0.89 a 2.89 2.89 0 0 0 -2.924 -2.924 l -0.89 0.01 l -0.622 -0.636 Z m 0.287 5.984 l -3 3 a 0.5 0.5 0 0 1 -0.708 0 l -1.5 -1.5 a 0.5 0.5 0 1 1 0.708 -0.708 L 7 8.793 l 2.646 -2.647 a 0.5 0.5 0 0 1 0.708 0.708 Z");
}

/* Wrapper */
.wrapper {
    width: 90%;
    max-width: 900px;
    margin: 3em auto;
    text-align: center;
}

/* Badge */
.badge {
    margin: 1.5em 3em;
    width: 6.4em;
    height: 6.4em;
    border-radius: 20%;
    display: inline-block;
    top: 0;
    transition: all 0.2s ease;
    box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.43);
}

.rounded {
    width: 70px;
    height: 70px;
    background: white;
    position: absolute;
    margin: 15px 16px auto;
    z-index: 10;
    border-radius: 30%;
    box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
}

i.fab {
    font-size: 2.6em;
    margin-top: 16px;
}


/* Colors */
.blue {
    background: dodgerblue;
    color: deepskyblue;
}

.orange {
    background: darkorange;
    color: orange;
}

.gold {
    background: gold;
    color: gold;
}

.red {
    background: red;
    color: red;
}

.purple {
    background: mediumpurple;
    color: slategray;
}

.steel {
    background: steelblue;
    color: gold;
}

.pink {
    background: hotpink;
    color: palevioletred;
}

.rebecca {
    background: rebeccapurple;
    color: rebeccapurple;
}

.gainsboro {
    background: seagreen;
    color: orangered;
}

/* skill responsive */
/*----------------------------------------------------------------------------------*/
/* project section */
#projectsSectionMainParent {

    background-color: #eeeeee;
    padding: 3rem 3rem 5rem 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#projectsSectionMainParent #mainHeading {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 50px;
}


#categoryParent a:hover,
#categoryParent a:focus,
#categoryParent a.active {
    color: white;
    transition: all 400ms;
}

#projectItemsContainer {
    margin: auto 6rem;
    width: 85%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#projectItemsContainer::-webkit-scrollbar {
    width: 0px;
}

.projectItem {
    width: 300px;
    height: 200px;
    margin-right: 1rem;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.iconsParent {
    width: 100%;
    overflow: hidden;
}

.iconsParent img {
    width: 120%;
    transform: scale(1.2);
}
/* project hover css */
.desc {
    background-color: #7ecb79;
    z-index: 2;
    color: white;
    position: absolute;
    top: 0;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 1rem;
    opacity: 0;
}

.desc:hover {
    opacity: 1;
    transition: all 300ms;
}

.desc>span {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-shadow: 1px 1px 5px #000;
}

.desc p{
    color: white;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.desc hr{
    opacity: 0.5;
    background-color: white;
    height: 1px;
    width: 50%;
    margin: 0.1rem auto !important;
}

.desc img {
    width: 40px;
}

.desc img:hover,
.desc img:focus {
    transform: rotateZ(360deg);
    transition: all 500ms;
    cursor: pointer;
}

#projectItemControllers {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.slideButtons {
    width: 40px;
    margin: 0.5rem;
    z-index: 12;
    cursor: pointer;
}

#previousButton {
    transform: rotate(180deg);
}

.slideButtons:hover {
    filter: sepia(79%) saturate(658%) hue-rotate(100deg) brightness(88%)
    contrast(95%);
}
.ViewAssignment{
    position: relative;
    top: 51px;
    width: 200px;
    height: 28px;
    opacity: 100%;
    border-radius: 10px;
    font-family: Arial;
    text-align: center;
}

.ViewAssignment:hover{
    background-color: #7ecb79;
    font-weight: bold;
    color: #7ecb79;
    box-shadow: 0px 1px 8px 3px white;
    border: 3px solid #ffffff;
    opacity: 90%;
}

/* contact
============================================================================
*/

/**
* contact details display flex type and justify-content center in contact section
*/
#contact {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    height: 40vh;
}
#conTopic{
    margin-top: 30px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: black;
}
.top{
    font-size: 50px;
    font-weight: 600;
}
.h4{
    font-family: "Poppins", sans-serif;
    color: black;
    font-size: 50px;
    margin: 0px 0px 13px;
    text-align: center;

}
/**
* contact details justify-content space-evenly in contact section
*/
.info{
    display: inline-flex;
    justify-content: space-evenly;
    width: 1004px;
    margin-bottom: 25px;
}

/**
* all contact details divs added flex-direction column and align-items center in contact section
*/
.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/**
* customized all contact detail sections title fonts sizes in contact section
*/
.details h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px 0 0;
}

/**
* customized all contact detail sections icons sizes and colors in contact section
*/
.details i{
    color: #7ecb79;
    font-size: 1.99em;
}

/**
* customized all contact detail sections descriptions fonts sizes in contact section
*/
.details p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 10px 0 0;
}

/*  footer
   ========================================================================== */

footer {
    position: relative;
    width: 100%;
    background: #701C7D;

}

/**
* customized h1 in footer
*/
footer > section:first-child > div:first-child > h2:first-child {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 15px;

}

/**
* customized span in footer
*/
footer > section:first-child > div:first-child > h2:first-child > span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: #7ecb79;
}

/**
* added section display type flex and justify-content center in footer section
*/
footer > section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**
* added social media icons justify-content space-evenly in footer section
*/
footer > section:first-child > div:first-child > nav:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 25px;
}

/**
* added section display type flex and flex-direction column in footer section
*/
footer > section:first-child > div:first-child {
    display: flex;
    flex-direction: column;
}

/**
* added section added gap and justify-content space-evenly in footer section
*/
footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child {
    display: flex;
    justify-content: space-evenly;
    gap: 37px
}

/**
* customized social media icons covers in footer
*/
footer > section:first-child > div:first-child > nav:nth-child(2) > div {
    width: 50px;
    height: 50px;
    background: transparent;
    box-shadow: -4px -4px 12px rgba(236, 236, 236, 0.1), 4px 4px 12px rgb(0, 0, 0);
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}

/**
* added social media icons hover effects in footer
*/
footer > section:first-child > div:first-child > nav:nth-child(2) > div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}

footer > section:first-child > div:first-child > nav:nth-child(2) > div:hover > a > i:hover {
    transition: all 0.5s ease;
    color: #7ecb79 !important;
}

/**
* customized social media icons and added color in footer section
*/
footer > section:first-child > div:first-child > nav:nth-child(2) > div > a > i {
    font-size: 2.00em;
    color: #909597;
    padding-top: 10px;
    cursor: pointer;
}

/**
* added list color and font size in footer section
*/
footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
}

footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li > a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: #FFFFFF;
}

/**
* added hover menu list in footer section
*/
footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li > a:hover {
    color: #7ecb79;
    transition: 0.5s all;
}

/**
* customized copyrights section in footer
*/
footer > section:nth-child(3) {
    background: #8a0583;
    text-align: center;
}

/**
* added color copyrights section text in footer
*/
footer > section:nth-child(3) > small:first-child {
    color: #D3D3D3;
}

#aboutCube2 {
    display: none;
}

footer > section:first-child > div:first-child > h2:nth-child(4) {
    display: none;
}

footer > section:first-child > div:first-child > h2:nth-child(4) > span {
    display: none;
}


/*------------------------------------------------------------------------*/
/*  gallery section */

main > section:nth-child(5) {
    position: relative;
    top: 0;
    width: 100%;
    background: #eeeeee;;
}

/**
* title in gallery section
*/
main > section:nth-child(5) > section:first-child {
    position: relative;
    text-align: center;
    padding-top: 0;
}

main > section:nth-child(5) > section:first-child > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 18px;
}

/**
* title underline in gallery section
*/
main > section:nth-child(5) > section:first-child > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}


/**
* added section positions gallery section
*/
main > section:nth-child(5) > section:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 7px;
}

/**
* added section display type grid
*/
main > section:nth-child(5) > section:nth-child(2) > section:first-child {
    width: 1100px;
    margin-left: 70px;
    margin-right: 70px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}

/**
* customized all divs
*/
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
    border-radius: 15px;
}

/**
 * Customized 01 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
    background: url("../image/gallery/img_1.png") center;
    background-size: cover;
}

/**
 * Customized 02 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(2) {
    background: url("../image/gallery/img_2.jpg") center;
    background-size: cover;
}

/**
 * Customized 03 Image grid-column and grid-row
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/4;
    background: url("../image/gallery/img_4.jpg") center;
    background-size: cover;
}

/**
 * Customized 04 Image
*/
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(4) {
    background: url("../image/gallery/img_3.jpg") center;
    background-size: cover;
}

/**
 * Customized 05 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(5) {
    background: url("../image/gallery/img_5.jpg") center;
    background-size: cover;
}

/**
 * Customized 06 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(6) {
    background: url("../image/gallery/img_6.jpg") center;
    background-size: cover;
}

/**
 * Customized 07 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(7) {
    background: url("../image/gallery/img_7.jpeg") center;
    background-size: cover;
}

/**
 * Customized 08 Image grid-column and grid-row
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(8) {
    grid-column: 2/4;
    grid-row: 3/4;
    background: url("../image/gallery/img_8.jpg") center;
    background-size: cover;
}

/**
 * Added Hover Effects
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.68);
    cursor: pointer;
}