*{
    margin: 0;
    padding: 0;
}
/* home page */

/* positioning navbar to the top of the page and stuck to the top */





/* home main components*/
#main{

  /* background-image: linear-gradient(to right, #20c997, #ffffff);*/
}

.intro{
    font-size: 30px;
    font-weight: 600;
    margin-top: 180px;
    font-family: "Comic Sans MS";
    color: #000000;

}


.name{
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    text-align: left;
    font-size: 65px;
    display: inline;
    font-family: "Averia Sans Libre", cursive;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    color: #47c0a0;
    margin-inside: 50px;
    color: #ffffff; /* Set the text color */
    text-shadow: 2px 2px 2px #000000, -2px -2px 2px #000000, 2px -2px 2px #000000, -2px 2px 2px #000000; /* Set the outline using multiple text shadows */
}
.img-fluid{
   height: auto;
    max-width: 100%;
}
.intro1{
    font-weight: lighter;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Delicious Handrawn', cursive;
    font-family: 'Noto Serif', serif;
    font-family: 'Rubik', sans-serif;
    color: black; /* Set the text color */
    text-shadow: 2px 2px 2px #20c997, -2px -2px 2px #ffffff, 2px -2px 2px #ffffff, -2px 2px 2px #ffffff; /* Set the outline using multiple text shadows */
}
.colored-letter {
    color: #20c997; /* Set the desired color for the letter */
}
.logos{
    height: 40px;
    margin-top: 10px;
    padding-inline: 10px;
    transition: width 2s, height 2s, transform 2s;
}
.logos:hover {
    width: 40px;
    height: 40px;
    transform: rotate(360deg);
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:200px; top:0px;}
    50%  { left:200px; top:200px;}
    75%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.animated_image {
    animation: slide-in 1s ease-out forwards;
}

/* Do responsive */


