
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* apply to all */
*{
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* scroll bar */
::-webkit-scrollbar {
    display: none;
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: #0ca205;
}
#blog{
    position: relative;
    left: 20px;
    top: 10px;
    text-decoration: none;
    font-family: "ubuntu", SansSerif;
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
}
#blog2{
    font-family: "Comic Sans MS";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;

    color: rgba(12, 162, 5, 0.74);
}
/* nav bar*/
.menu{
    position: absolute;
    right: 110px;
    top: 0;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: "Century Gothic" !important;
    font-size: 20px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: black;
}

.menu ul li a:hover {
    color: #7ecb79 ;
}

.menu ul li #active {
    color: rgba(126, 203, 121, 0.74);
}

.hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 3px;
    background-color: #8a0583;
    border-radius: 26%;
    transition: width .3s;
}
.hover-line:hover::after {
    width: 40%;
    transition: width .3s;
}

.active-hover-line::after {
    content: '';
    display: block;
    width: 40%;
    height: 3px;
    background-color: #8a0583;
    border-radius: 26%;
    transition: width .3s;
}


/* main section */
main {
    position: relative;
    margin-top: 73px;
    width: 100%;
}

/*  home section */

main > section:nth-child(1) {
    position: relative;
    background: #FFFFFF;
    width: 100%;
}


/**
* description section
*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* Hello */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h3:first-child {
    font-family: Poppins;
    font-size: 31px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
}
/* web designer...*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) {
    font-family: Poppins;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 0;
    color: #909597;
}
/* i m */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) > span {
    font-family: Poppins;
    font-size: 30px;
    color: #000000;
}
/* s */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) {
    font-family: "Poppins" ;
    font-size: 75px;
    color: #7ecb79;
    margin-top: 16px;
    margin-bottom: 16px;
    text-shadow: 5px 10px 6px rgba(0, 0, 0, 0.1);
}
/* rest of the name */
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) > span {
    font-family: "Comic Sans MS";
    font-size: 65px;
    color: #8a0583;
}

.typed-cursor {
    display: none;
}

/*
* description section button
*/

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) {
    position: relative;
    width: 198px;
    height: 50px;
    background-color: #7ecb79;
    border-radius: 40px;
    box-shadow: 28px 28px 50px rgba(13, 39, 80, 0.36);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    text-align: left;
    padding-left: 25px;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border-width: 0;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) > div {
    position: absolute;
    top: 1px;
    left: 148px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #F9FAFB;
    box-shadow: inset -13px -13px 16px #FFFFFF, inset 13px 13px 16px rgba(13, 39, 80, 0.16);
    cursor: pointer;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) > div:first-child > i:first-child {
    height: 27px;
    width: 27px;
    position: absolute;
    left: 29%;
    top: 29%;
    bottom: 41.09%;
    color: #8a0583;
    cursor: pointer;
}

/**
* social links section
*/
main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #909597;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav {
    display: flex;
    gap: 15px;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav > div {
    width: 67px;
    height: 67px;
    background: rgba(236, 240, 243, 0.85);
    box-shadow: -23px -23px 45px #FFFFFF, 28px 28px 50px rgba(13, 39, 80, 0.16);
    border-radius: 15px;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div > a > i {
    position: relative;
    left: 23%;
    top: 23%;
    font-size: 2.40em;
    color: #909597;
    cursor: pointer;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div:nth-child(1) > a > i {
    font-size: 2.00em;
    top: 29%;
    left: 32%;
}

main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav > div:hover ,a > i:hover{
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    color: #FFA500 !important;
}

/**
* first shape in home section
*/
main > section:first-child > section > div:first-child > div:first-child {
    box-sizing: border-box;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 138px;
    top: 92px;
    border: 7px solid rgba(255, 165, 0, 0.52);
    transform: matrix(0.6, 0.8, -0.79, 0.6, 0, 0);
}

/**
* second shape in home section
*/
main > section:first-child > section > div:first-child > div:nth-child(3) {
    box-sizing: border-box;
    border-radius: 100%;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 722px;
    top: 160px;
    border: 6px solid rgba(255, 165, 0, 0.52);
}

/**
* main image section in home section
*/
main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
    background: url(../img/MyPhoto.svg);
    width: 440px;
    height: 547px;
    background-size: cover;
    position: relative;
    bottom: 18px;
}

/**
* dash line in home section
*/
main > section:first-child > section > div:first-child > div:nth-child(5) {
    position: absolute;
    right: 169px;
    top: 131px;
}

main > section:first-child > section:first-child {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:first-child > section:first-child > div:first-child {
    width: 1100px;
    display: flex;
    gap: 66px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 35px;
    padding-left: 35px;
    transition: all 2s;
}
