body{
    background-color: #FFFFFF;
}

/*PROJECTS*/
#proTopic{
    position: absolute;
    width: 429px;
    height: 126px;
    left: 50px;
    top: -8px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 126px;

    color: #7ecb79;

    opacity: 50%;
}

main>section{
    height: 1030px;
    /*background-color: #00F461;*/
}
/*project section grid*/
#projectSect{
    /*border: 2px solid black;*/
    position: relative;
    top: 235px;
    height: 868px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    padding-left: 85px;
}


/*projects div*/
#projectSect>div{
    /* From https://css.glass */
    background: linear-gradient(to bottom, #FFFFFF, #7ecb79);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
   /* border: 1px solid rgba(45, 10, 81, 0.32);*/
    width: 300px;
    height: 380px;
    border-radius: 10px;

}

/* assignment 1 */
h2{
    position: relative;
    width: 429px;
    height: 126px;
    left: 59px;
    top: -60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 126px;
    color: #000000;
}

img{
    position: relative;
    width: 280px;
    height: 280px;
    top: -94px;
    left: 9px;
    border-radius: 10px;
}


.As{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 83px;
    left: 9px;
    background-color: #ffffff;
    opacity: 0;
    border-radius: 10px;

}


p{
    position: relative;
    top: 41px;
    left: 41px;
    width: 207px;
    font-size: 15px;
    font-family: Arial;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-style: normal;
    font-weight: 510;
}

button{
    position: relative;
    top: 51px;
    left: 96px;
    width: 88px;
    height: 33px;
    opacity: 100%;
    border-radius: 15px;
    font-family: Arial;
}

button:hover{
    background-color: #7ecb79;
    font-weight: bold;
    color: white;
    box-shadow: 0px 1px 8px 3px white;
    border: 1px solid #ffffff;
    opacity: 100%;
}

.As:hover{
    opacity: 80%;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}

