body{
    background-color: #FFFFFF;
}

/*PROJECTS*/
#proTopic{
    position: absolute;
    width: 429px;
    height: 126px;
    left: 50px;
    top: -8px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 126px;

    color: #7ecb79;

    opacity: 50%;
}

main>section{
    height: 1030px;

}
/*project section grid*/
#projectSect{
    position: relative;
    top: 235px;
    height: 868px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
    padding-left: 85px;
}


/*projects div*/
#projectSect>div{
    background: linear-gradient(to bottom, #FFFFFF, #7ecb79);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
   /* border: 1px solid rgba(45, 10, 81, 0.32);*/
    width: 300px;
    height: 380px;
    border-radius: 10px;

}


h2{
    position: relative;
    width: 429px;
    height: 126px;
    left: 59px;
    top: -60px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 126px;
    color: #000000;
}

img{
    position: relative;
    width: 280px;
    height: 280px;
    top: -94px;
    left: 9px;
    border-radius: 10px;
}

.As{
    position: absolute;
    width: 280px;
    height: 280px;
    top: 83px;
    left: 9px;
    background-color: #ffffff;
    opacity: 0;
    border-radius: 10px;
}

p{
    position: relative;
    top: 41px;
    left: 41px;
    width: 207px;
    font-size: 15px;
    font-family: Arial;
    color: #000000;
    text-align: center;
    line-height: 20px;
    font-style: normal;
    font-weight: 510;
}

button{
    position: relative;
    top: 51px;
    left: 96px;
    width: 88px;
    height: 33px;
    opacity: 100%;
    border-radius: 15px;
    font-family: Arial;
}

button:hover{
    background-color: #7ecb79;
    font-weight: bold;
    color: white;
    box-shadow: 0px 1px 8px 3px white;
    border: 1px solid #ffffff;
    opacity: 100%;
}

.As:hover{
    opacity: 80%;
    transition-delay: 0s;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}
 /*-------------responsive------------------*/

/*================================== 1024->Laptop ================================== */
@media all and (min-width: 769px) and (max-width: 1024px) {
    /*PROJECTS*/
    #proTopic {
        position: absolute;
        width: 429px;
        height: 126px;
        left: 36px;
        top: -8px;

        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 126px;

        color: #7ecb79;

        opacity: 50%;
    }

    main > section {
        height: 1030px;

    }

    /*project section grid*/
    #projectSect {

        position: relative;
        top: 235px;
        height: 868px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 50px;
        padding-left: 37px;
    }


    #projectSect > div {
        background: linear-gradient(to bottom, #FFFFFF, #7ecb79);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
       /* border: 1px solid rgba(45, 10, 81, 0.32);*/
        width: 260px;
        height: 380px;
        border-radius: 10px;
    }


    h2 {
        position: relative;
        width: 429px;
        height: 126px;
        left: 56px;
        top: -60px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 126px;
        color: #000000;
    }

    img {
        position: relative;
        width: 242px;
        height: 280px;
        top: -94px;
        left: 9px;
        border-radius: 10px;
    }


    .As {
        position: absolute;
        width: 242px;
        height: 281px;
        top: 78px;
        left: 9px;
        background-color: #ffffff;
        opacity: 0;
        border-radius: 10px;
    }


    p {
        position: relative;
        top: 41px;
        left: 18px;
        width: 207px;
        font-size: 15px;
        font-family: Arial;
        color: #000000;
        text-align: center;
        line-height: 20px;
        font-style: normal;
        font-weight: 510;
    }

    button {
        position: relative;
        top: 51px;
        left: 77px;
        width: 88px;
        height: 33px;
        opacity: 100%;
        border-radius: 15px;
        font-family: Arial;
    }

    button:hover {
        background-color: #7ecb79;
        font-weight: bold;
        color: white;
        box-shadow: 0px 1px 8px 3px white;
        border: 1px solid #ffffff;
        opacity: 100%;
    }

    .As:hover {
        opacity: 100%;
        transition-delay: 0s;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
    }
}

/*================================== 320 ->Mobile -S ==================================*/
@media all and (width: 320px) {
    /*PROJECTS*/
    #proTopic {
        display: inline-block;
        position: absolute;
        width: 96px;
        height: 126px;
        left: 17px;
        top: 9px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 126px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    main > section {
        height: 1950px;
        /*background-color: #00F461;*/
    }

    /*project section grid*/
    #projectSect {
        /*border: 2px solid black;*/
        position: relative;
        top: 235px;
        height: 1715px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
        padding-left: 45px;
    }


    #projectSect > div {
        background: linear-gradient(to bottom,#FFFFFF,#8a0583);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(45, 10, 81, 0.32);
        width: 229px;
        height: 380px;
        border-radius: 10px;
    }

    h2 {
        position: relative;
        width: 236px;
        height: 126px;
        left: 14px;
        top: -60px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 126px;
        color: #8a0583;
    }

    img {
        position: relative;
        width: 212px;
        height: 280px;
        top: -94px;
        left: 9px;
        border-radius: 10px;
    }


    .As {
        position: absolute;
        width: 212px;
        height: 282px;
        top: 89px;
        left: 9px;
        background-color: #1E17175E;
        opacity: 0;
        border-radius: 10px;
    }


    p {
        position: relative;
        top: 41px;
        left: 18px;
        width: 175px;
        font-size: 15px;
        font-family: Arial;
        color: #FFFFFF;
        text-align: center;
        line-height: 20px;
        font-style: normal;
        font-weight: 510;
    }

    button {
        position: relative;
        top: 51px;
        left: 64px;
        width: 88px;
        height: 33px;
        opacity: 100%;
        border-radius: 15px;
        font-family: Arial;
    }

    button:hover {
        background-color: #701C7D;
        font-weight: bold;
        color: white;
        box-shadow: 0px 1px 8px 3px white;
        border: 3px solid #701C7D;
        opacity: 100%;
    }

    As:hover {
        opacity: 100%;
        transition-delay: 0s;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
    }
}

/*================================== 375 ->Mobile -M ==================================*/
@media all and (min-width: 321px) and (max-width: 375px) {
    /*PROJECTS*/
    #proTopic {
        position: absolute;
        width: 68px;
        height: 126px;
        left: 26px;
        top: 9px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 126px;
        color: #8a0583;
        opacity: 0.4;
    }

    main > section {
        height: 1950px;
        /*background-color: #00F461;*/
    }

    /*project section grid*/
    #projectSect {
        /*border: 2px solid black;*/
        position: relative;
        top: 235px;
        height: 1715px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
        padding-left: 45px;
    }


    #projectSect > div {
        background: linear-gradient(to bottom,#FFFFFF,#8a0583);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(45, 10, 81, 0.32);
        width: 284px;
        height: 380px;
        border-radius: 10px;
    }


    h2 {
        position: relative;
        width: 243px;
        height: 126px;
        left: 46px;
        top: -60px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 126px;
        color: #8a0583;
    }

    img {
        position: relative;
        width: 266px;
        height: 280px;
        top: -94px;
        left: 9px;
        border-radius: 10px;
    }


    .As {
        position: absolute;
        width: 266px;
        height: 282px;
        top: 89px;
        left: 9px;
        background-color: #1E17175E;
        opacity: 0;
        border-radius: 10px;
    }


      p{
        position: relative;
        top: 41px;
        left: 28px;
        width: 207px;
        font-size: 15px;
        font-family: Arial;
        color: #8a0583;
        text-align: center;
        line-height: 20px;
        font-style: normal;
        font-weight: 510;
    }

    button {
        position: relative;
        top: 51px;
        left: 90px;
        width: 88px;
        height: 33px;
        opacity: 100%;
        border-radius: 15px;
        font-family: Arial;
    }

    button:hover {
        background-color: #701C7D;
        font-weight: bold;
        color: white;
        box-shadow: 0px 1px 8px 3px white;
        border: 3px solid #701C7D;
        opacity: 100%;
    }

    .As:hover {
        opacity: 100%;
        transition-delay: 0s;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
    }
}
/*================================== 425->Mobile -L ================================== */
@media all and (min-width: 376px) and (max-width: 425px) {
    /*PROJECTS*/
    #proTopic {
        position: absolute;
        width: 115px;
        height: 126px;
        left: 45px;
        top: 3px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 90px;
        line-height: 126px;
        color: #FFFFFF;
        opacity: 0.4;
    }

    main > section {
        height: 1950px;

    }

    /*project section grid*/
    #projectSect {

        position: relative;
        top: 235px;
        height: 1715px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 50px;
        padding-left: 45px;
    }



    #projectSect > div {
        background: linear-gradient(to bottom, #FFFFFF,#8a0583);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(45, 10, 81, 0.32);
        width: 328px;
        height: 380px;
        border-radius: 10px;
    }


    h2 {
        position: relative;
        width: 268px;
        height: 126px;
        left: 71px;
        top: -60px;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 126px;
        color: #8a0583;
    }

    img {
        position: relative;
        width: 309px;
        height: 280px;
        top: -94px;
        left: 9px;
        border-radius: 10px;
    }


    .As {
        position: absolute;
        width: 309px;
        height: 282px;
        top: 89px;
        left: 9px;
        background-color: #1E17175E;
        opacity: 0;
        border-radius: 10px;
    }


    p {
        position: relative;
        top: 41px;
        left: 53px;
        width: 207px;
        font-size: 15px;
        font-family: Arial;
        color: #8a0583;
        text-align: center;
        line-height: 20px;
        font-style: normal;
        font-weight: 510;
    }

    button {
        position: relative;
        top: 51px;
        left: 112px;
        width: 88px;
        height: 33px;
        opacity: 100%;
        border-radius: 15px;
        font-family: Arial;
    }

    button:hover {
        background-color: #701C7D;
        font-weight: bold;
        color: white;
        box-shadow: 0px 1px 8px 3px white;
        border: 3px solid #701C7D;
        opacity: 100%;
    }

    .As:hover {
        opacity: 100%;
        transition-delay: 0s;
        transition-property: all;
        transition-duration: 0.5s;
        cursor: pointer;
    }
}
